.cards{
    width: 278px;
    height: 350px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    background-color: #202020;
    color: #FCEFB4;
    position: relative;

}

.cards::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #CCA000;
    left: 0;
    bottom: 0;
    transition: all .5s;
    box-shadow: 0 -347px #CCA000;
}
/* boxshadow es la copia */
.cards::after{
    content: "";
    position: absolute;
    background-color: #CCA000;
    left: 0;
    top: 0;
    width: 3px;
    height: 0%;
    transition: all.5s;
    box-shadow: 275px 0 #CCA000;
}

.cards:hover::after{
    height: 100%;
}

.cards:hover::before{
    width: 100%;
}

.cards-img{
    width: 80%;
    border-radius: 1000px;
    margin: 18px 0;
    cursor: pointer;
    /* filter: drop-shadow(2px 5px 6px #CCA000); */
}

.cards-info{
    font-size: 18px;
}
